# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
*.egg-info/
*.egg

# ================================
# Environnements
# ================================
env/
venv/
ENV/
.venv/

# ================================
# PyInstaller
# ================================
build/
dist/
*.spec

# ================================
# Base de données et fichiers utilisateurs
# ================================
users/
password_manager.db

# ================================
# Logs, temporaires
# ================================
*.log
*.tmp
*.bak

# ================================
# IDE et éditeurs
# ================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.DS_Store

# ================================
# Icônes et ressources temporaires
# ================================
*.ico~
*.icns~
